.clock-container {
	background-color: #3a3a3a;
	padding: 12px 0;
	width: 100%;                
} 
.clock {
	text-align: center;
	display: block;		        
	font-size: 28px;
	margin-bottom: 6px;
	color: white;
}

.date {
	text-align: center;
	display: block;
	font-size: 15px;
	color: white;
}		    

sup {
	vertical-align: super;
	font-size: 10px;
}  
